<div id="features">


    <h1>Fequently Asked Questions</h1>
    <div id="wrapper">
        <div class="bg-dark" id="first"><h2> </h2>
            <h2>
                1.For what purposes can an applicant take a home loan?
            </h2>
            <p>
                First-time home loan borrowers can take a loan to purchase a new home or renovate and repair the current home. However, different banks have different policies for sanctioning home loans to second-time borrowers.
            </p>

           </div>

            <div class="bg-dark" id="first"><h2> </h2>
            <h2>
                2.What is the eligibility criteria followed by banks?
            </h2>
            <p>
                Banks check the CIBIL score and details of the property under question. The ideal CIBIL score for a home loan should be 750. 
                Additionally, other factors like the applicant's monthly income, number of dependents, age, qualification, stability of occupation, and savings, also matter.
            </p>
            </div>

            <div class="bg-dark" id="first"><h2> </h2> 
                <h2>
                    3.What are the documents required for loan approval?
                </h2>
                
                <p>
                    To sanction a home loan, banks require authentic documents of the property under question along with the applicant’s documents,
                     including identity proof, salary slips, Form 16, residence proof, and bank statements.
                </p>
                </div>

                <div class="bg-dark" id="first"><h2> </h2> 
                    <h2>
                        4.Does an applicant need to submit collateral?
                    </h2>
                    <p>
                        Banks retain the purchased property as collateral against the loan. However, when the applicant’s CIBIL score is low, 
                        banks may also ask for a guarantor and additional collateral like papers of other properties, gold, life insurance policies, and shareholdings.
                    </p>
                </div>

                <div class="bg-dark" id="first"><h2> </h2> 
                    <h2>
                        5. Is it mandatory for the applicant to go for home insurance?
                    </h2>
                    <p>
                        There is no such policy or regulation which mandates 
                        the applicant to attain home insurance.
                        However, taking a home loan insurance provides cover against support to the applicant's family members.
                    </p>
                </div>
    </div>
</div>