<div id="features">


    <h1>Features of Home Loan</h1>

    
    
    <br>
    <br>
    <div id="wrapper">
        <div class="bg-dark" id="first"><h2> </h2>
            <p>
                Modern day mortgages have a seemingly endless array for features designed to help you manage your loan and pay it off faster than the standard 30 year term.Our mortgage brokers will help you to choose the right loan features and consequently a loan product as part of their Preliminary Assessment.This page is designed to help you to understand what these features mean and how they can help you.
                
            </p>
        </div>
        <div class="bg-dark" id="second"><h2> Extra repayments</h2>
            <p>
                With this feature you have the ability to make extra repayments into your loan on top of their minimum loan repayment.Extra repayments can be made on a regular basis by changing the amount that the banks direct debit from your account. Alternatively you can make extra repayments on an irregular basis by transferring money in whenever you have it available.
            </p>
        </div>
        <div class="bg-dark" id="third"><h2> Interest only</h2>
            <p>
                With an interest only period you will just pay the interest due each month, and not any of the principal itself. The benefit of doing this is that you keep your repayments to an absolute minimum, however you will not pay off the loan unless you make extra repayments. Interest only periods are usually for up to 5 years, however some lenders will consider 10 years or even 15 years!

            </p>
        </div>
    </div>
    <div id="wrapper">
        <div class="bg-dark" id="first"><h2> Salary crediting </h2>
            <p>
                This feature allows you to have your salary paid directly into your loan account. This is most commonly used for people with Line of Credit loans or who are salary sacrificing their home loan.

            </p>
        </div>
        <div class="bg-dark" id="second"><h2> Loan portability</h2>
            <p>
                With loan portability you can move your loan onto another property. Normally this is used when you sell your home and buy a new home. In most cases for this to work the settlements must occur on the same day. This can avoid the need to apply for a new home loan when you move house.
            </p>
        </div>
        <div class="bg-dark" id="third"><h2> Loan splitting</h2>
            <p>
                This feature allows your loan to have multiple loan accounts. The most common use of this is for people to setup a loan as half fixed, half variable. This allows them to make extra repayments on the variable portion, however to partially protect themselves from rising interest rates.

            </p>
            </div>
    </div>