<div id="about">


    <h1>Frequently Asked Questions</h1>
    <h1>All You Need to Know About Housing Loan
    </h1>
    <br>
    <br>
    <div id="wrapper">
        <div class="bg-dark" id="first"><h2>What is a Home Loan?</h2>
            <p>
                A home/housing loan, also known as a mortgage, is an amount of money borrowed by an individual, usually from banks and companies that lend money. The borrower has to pay back the loan amount with interest in Easy Monthly Instalments or EMI's over a period
                of time that can vary between 10-30 years depending on the nature of the loan.
            </p>
        </div>
        <div class="bg-dark" id="second"><h2>Can I repay my home loan in cash?</h2>
            <p>
                It is only through online channels or through cheques that scheduled banks allow you to repay your loan. However, there have been instances where banks have recovered outstanding dues in cash.
            </p>
        </div>
        <div class="bg-dark" id="third"><h2>What are the benefits of Home Loan?</h2>
            <p>
                Some of the benefits of the Home Loan are:

                Flexible repayment solutions
                Lower home loan interest rate
                Tax benefits
                Door to door services
            </p>
        </div>
    </div>
    
    
    <br>
    <hr style="color: red">
    <h1>CHOOSE A HOME LOAN THAT SUITS YOUR NEEDS</h1>
    <br>
    <div id="wrapper">
        <div id="fourth">
            <h3>Different kinds of home loans options that are made to suit each unique situation. 
                You can take home loans to buy properties that are either commercial or personal in nature. 
                Here are some of the different kinds of home loans you can take.</h3>
        </div>
        <div class="bg-dark" id="fifth">
        <h5><ul>
            <li>Home Purchase Loan - You can buy any house or home that is within your budget</li>
            <li>Construction Home Loan – You can use this loan to cover the costs of building a house</li>
            <li>Land Purchase Loan - You can use this loan to buy a piece of land</li>
            <li>Home Improvement Loan – You can use this loan to renovate and improve your house</li>
            <li>Home Repair Loan – Pay for the cost of repair and restoration of your home</li>
            <li>Home Extension Loan – Increase the amount of built up space at your home using this loan.</li>
        </ul></h5>
        </div>   
    </div>
    <br>    
</div>
<br>
<hr style="color: red">
<br>


<h1>IMPORTANT FACTORS TO CONSIDER WHEN APPLYING FOR A HOME LOAN</h1>
    <br>
    <div id="wrapper">
        <div class="bg-dark" id="first"><h2>Purpose</h2>
            <ul>
                <li>->Purchase of new/old residential unit (house/ flat/villa/apartment etc.)</li>
                <li>->Construction of residential unit on exiting non agriculture plot.</li>
                <li>->Purchase of non-agricultural plot and construction of residential unit (composite project) thereon**</li>
                <li>->Take-over of housing loan availed from another bank</li>
            </ul>
        </div>
        <div class="bg-dark" id="second"><h2>Principal</h2>
            <p>
                It is only through online channels or through cheques that scheduled banks allow you to repay your loan. However, there have been instances where banks have recovered outstanding dues in cash.
            </p>
        </div>
        <div class="bg-dark" id="third"><h2>Duration</h2>
            <p>How long you will be paying back the loan. Depending on the nature of your expected income, you can select a period that suits you.</p>
            <br>
        </div> 
        <div class="bg-dark" id="third"><h2>Interest</h2>
            <p>The bank or financial institution charges interest in exchange for its money lending services. The rate of interest is dependent on the amount of the principal and the duration for which you will be repaying the loan.
                <br>
                <br>
                <br>
                <br>
            <a style="color: orange;" href="https://www.etmoney.com/fixed-deposit/sbi-bank-fd-rates/2" target="_blank">SBI INTEREST RATE</a>
                   
            </p>
        </div> 
        <div class="bg-dark" id="third"><h2>EMI Amount</h2>
            <p>You will be paying monthly instalments for the duration of your borrowing, until the end of the loan period. Each EMI is a combination of principal + interest. With each EMI, you will be paying back more of the principal and costs of interest will gradually
                reduce.
            </p>
        </div> 
        <div class="bg-dark" id="third"><h2>Tax benefits</h2>
            <p>The foremost benefit of a home loan is the income tax deduction you can claim on the interest and principal repayments. 
                You can claim up to Rs.1.5 lakh on principal repayments u/s 80C, up to Rs.2 lakh on interest repayments u/s 24B, up to Rs.2 lakh on 
                interest repayment in special circumstances u/s 80EE and 80EEA, and up to Rs.1.5 lakh on stamp duty expenses u/s 80C.</p>
            <br>
        </div> 
    </div>
    
<br>
<hr style="color: red">

<h1>WHAT HAPPENS IF YOU CANNOT REPAY THE LOAN?</h1>
<div id="wrapper">
    <div id="sixth">
        <p>When you take out a home loan, the bank or financial institution accepts the property you are purchasing as a security. This means that it retains the legal right to the property in the event of non-payment.</p>
        <br>
    </div> 
</div>
<hr style="color: red">



